$border_size: 1.2vh;


.container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wheel {
  width: 60%; /* Modificado para usar porcentajes en lugar de vw */
  height: 60%; /* Modificado para usar porcentajes en lugar de vw */
  position: absolute;
  margin: 1vw;
  transform: rotate(0deg);
  transition: transform 5s ease-in-out;
  transform-origin: 50% 50%;
  background-color: rgba(235, 174, 19, 0);
  border: $border_size; /* Modificado para usar porcentajes en lugar de vw */
  border-style: solid;
  border-color: #FFB84C;
  border-radius: 50%;
  display: block;
}

.bar {
    position: absolute;
    top: 10%; /* Modificado para usar porcentajes en lugar de vw */
    margin-left: -$border_size;
    padding: 0;
    width: 100%; /* Modificado para usar porcentajes en lugar de vw */
    height: 80%; /* Modificado para usar porcentajes en lugar de vw */
    background-color: rgba(235, 174, 19, 0);
    border: $border_size; /* Modificado para usar porcentajes en lugar de vw */
    border-style: solid;
    border-color: #FFB84C;
    border-radius: 80%;
  }
  
  .bar2 {
    position: absolute;
    top: 20%; /* Modificado para usar porcentajes en lugar de vw */
    margin-left: -$border_size; /* Modificado para usar porcentajes en lugar de vw */
    padding: 0;
    width: 100%; /* Modificado para usar porcentajes en lugar de vw */
    height: 60%; /* Modificado para usar porcentajes en lugar de vw */
    background-color: rgba(235, 174, 19, 0);
    border: $border_size; /* Modificado para usar porcentajes en lugar de vw */
    border-style: solid;
    border-color: #FFB84C;
    border-radius: 80%;
  }

  .bar3 {
    position: absolute;
    top: 30%;
    margin-left: -$border_size; /* Modificado para usar porcentajes en lugar de vw */
    padding: 0;
    width: 100%; /* Modificado para usar porcentajes en lugar de vw */
    height: 40%; /* Modificado para usar porcentajes en lugar de vw */
    background-color: rgba(235, 174, 19, 0);
    border: $border_size; /* Modificado para usar porcentajes en lugar de vw */
    border-style: solid;
    border-color: #FFB84C;
    border-radius: 80%;
  }
  
  .bar4 {
    position: absolute;
    top: 40%;
    margin-left: -$border_size; /* Modificado para usar porcentajes en lugar de vw */
    padding: 0;
    width: 100%; /* Modificado para usar porcentajes en lugar de vw */
    height: 20%; /* Modificado para usar porcentajes en lugar de vw */
    background-color: rgba(235, 174, 19, 0);
    border: $border_size; /* Modificado para usar porcentajes en lugar de vw */
    border-style: solid;
    border-color: #FFB84C;
    border-radius: 80%;
  }
  
  .barV {
    position: absolute;
    top: 49%;
    width: 100%; /* Modificado para usar porcentajes en lugar de vw */
    height: 6%; /* Modificado para usar porcentajes en lugar de vw */
    background-color: #FFB84C;
    border-radius: 20%;
  }
  
  .barH {
    position: absolute;
    top: 0;
    left: 49%; /* Modificado para usar porcentajes en lugar de vw */
    width: 4%; /* Modificado para usar porcentajes en lugar de vw */
    height: 100%; /* Modificado para usar porcentajes en lugar de vw */
    background-color: #FFB84C;
    border-radius: 20%;
  }
  

.crankContainer{
    position: absolute;
    width: 66%;
    height: 66%;
    top: 17%;
    left: 17.5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.crank{
    position: relative;
    background-color: rgb(161, 163, 163);
    width: 7%;
    height: 53%;
    border-radius: 1vw 1vw 1vw 1vw;

    &::after{
        content: '';
        position: absolute;
        width: 157%;
        height: 14%;
        background-color: rgb(46, 33, 0);
        top: 88%;
        border-radius: 40%;
    }
}



.baseContainer{
    position: absolute;
    width: 66%;
    height: 66%;
    bottom: 0;
    left: -9%;
    &::after{
        content: "";
        position: absolute;
        width: 14%;
        height: 14%;
        display: block;
        border-radius: 50%;
        background-color: rgb(101, 101, 101);
        bottom: 67%;
        left: 83%;
    }
}

.base{
    width: 40%;
    height: 85%;
    background-color: rgb(73, 71, 71);
    position: absolute;
    left: 70%;
    border-radius: 1vw 1vw 0vw 0vw;
    bottom: 0;
}

/*
.wheel, .crankContainer{
    animation: infinite spin 4s ease-in-out;  
}
*/

.wheel, .crankContainer{
    animation: infinite spin 4s ease-in-out;  
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(50deg);
    }
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
