@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
.headerContainer{
    position: absolute;
    width: 100%;
    display: block;
    height: 73vw;
    overflow: hidden;
    padding-top: 0%;

    border-radius: 0 0 0% 0% / 0 0 0% 0%;
    font-family: 'Monoton', cursive;
}


.headerContainer h1 {
    font-size: 7vw;
    font-weight: 900;
    letter-spacing: 0;
    background-size: 140%;
    animation: shaky 3s linear infinite;
    text-transform: uppercase;
    z-index: 3;
    position: relative;
    top: 2%;
    animation: shaky 5s infinite;
    filter: drop-shadow(0vw 0.3vw 0.2vw rgba(0, 0, 0, 0.911));
    
}

h2 {
  font-size: 7vw;
  font-weight: 900;
  letter-spacing: 0;
  background-size: 140%;
  animation: shaky 3s linear infinite;
  text-transform: uppercase;
  z-index: 3;
  position: relative;
  top: -7%;
  animation: shaky 4s infinite;
  filter: drop-shadow(0vw 0.3vw 0.2vw rgba(0, 0, 0, 0.971));
  
}


  @keyframes shaky {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-0.2vw, -0.2vw); }
    50% { transform: translate(0, 0); }
    75% { transform: translate(0.2vw, 0.2vw); }
    100% { transform: translate(0, 0); }
  }

.cloud, .clouded, .cloud2, .clouded2{
  display: block;
  height: 15vw;
  position: absolute;
  top: 20vw;
  margin-top: 2%;
  filter: drop-shadow(0vw 0.3vw 0.9vw rgba(182, 182, 182, 0.588));
}

.cloud{
  animation: shakyCloud 40s linear infinite;
}

.clouded{
  animation: shakyClouded 60s linear infinite;
}

.cloud2{
  animation: shakyCloud2 30s linear infinite;
}

.clouded2{
  animation: shakyClouded2 90s linear infinite;
}

@keyframes shakyCloud {
  0% { left: -50%; transform: translate(0, 0); opacity: 0;}
  50% { left: 50%; transform: translate(0, 0); opacity: 1;}
  100% { left: 110%; transform: translate(0, 0); opacity: 0; }
}

@keyframes shakyClouded {
  0% { left: -50%; transform: translate(0, 0); opacity: 0;}
  50% { left: 50%; transform: translate(0, 0); opacity: 1;}
  100% { left: 110%; transform: translate(0, 0); opacity: 0; }
}

@keyframes shakyCloud2 {
  0% { left: -50%; transform: translate(0, 0); opacity: 0;}
  50% { left: 50%; transform: translate(0, 0); opacity: 1;}
  100% { left: 110%; transform: translate(0, 0); opacity: 0; }
}

@keyframes shakyClouded2 {
  0% { left: -50%; transform: translate(0, 0); opacity: 0;}
  50% { left: 50%; transform: translate(0, 0); opacity: 1;}
  100% { left: 140%; transform: translate(0, 0); opacity: 0; }
}


@keyframes colors {
  0% { color: white;}
  25% { color: rgb(240, 109, 227);}
  50% { color: rgb(110, 165, 238);}
  75% { color: rgb(223, 232, 105);}
  100% { color: white;}
}


.tiny{
  height: 20vw;
  margin-left: 15%;
  margin-top: 6%;
}

.tinyRe{
  height: 25vw;
  margin-left: -15%;
  margin-top: 5%;
}


.clouded.tiny{
  margin-left: 13%;
  margin-top: 7%;
  height: 20vw;
}

.clouded.tinyRe{
  margin-left: -13%;
  margin-top: 6%;
  height: 19vw;
}


.clouded2.tiny{
  margin-left: 13%;
  margin-top: 14%;
  height: 17vw;
}

.clouded2.tinyRe{
  margin-left: -13%;
  margin-top: 10%;
  height: 18vw;
}


.cloud2.tiny{
  margin-left: 13%;
  margin-top: 15%;
  height: 20vw;
}

.cloud2.tinyRe{
  margin-left: -13%;
  margin-top: 13%;
  height: 23vw;
}