#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
  overflow: hidden;
  overflow-y: hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
